<!--
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
      xmlns:javascript="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  jQuery( document ).ready(function() {
    var $grid = $('.grid').isotope({
      itemSelector: '.grid-item'
    });

    $('.filters-button-group').on( 'click', 'button', function() {
      var filterValue = $( this ).attr('data-filter');
      $grid.isotope({ filter: filterValue });
    });
// change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $( this ).addClass('is-checked');
      });
    });

  });
</script>
-->

<div class="site-wrap">
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-9 order-2">
          <div class="col-md-12 mb-5">
            <div class="float-md-left mb-4"></div>
          </div>
          <div class="row mb-5">
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" *ngFor="let premio of premios">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a routerLink='/premiosSingle/{{premio.id}}'><img
                  src="./assets/Storage/Premios/{{premio.id}}.jpg"
                  alt="Image placeholder"
                  class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a routerLink='/premiosSingle/{{premio.id}}'>{{premio.nombre}}</a></h3>
                  <p class="mb-0">{{premio.descripcion}}</p>
                  <p class="text-primary font-weight-bold">{{premio.puntos}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0 ">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorias</h3>
            <ul class="list-unstyled mb-0">

              <li class="mb-1" (click)="todas()"><a href="javascript:void(0);" class="d-flex"><span>Todas</span> <span
                class="text-black ml-auto">({{all}})</span></a></li>

              <li class="mb-1" (click)="filterTazas()"><a href="javascript:void(0);" class="d-flex"><span>Tazas</span>
                <span
                  class="text-black ml-auto">({{numTazas}})</span></a></li>

              <li class="mb-1" (click)="filterBolsas()"><a href="javascript:void(0);" class="d-flex"><span>Bolsas</span>
                <span
                  class="text-black ml-auto">({{numBolsas}})</span></a></li>

              <li class="mb-1" (click)="filterLibros()"><a href="javascript:void(0);" class="d-flex"><span>Libros</span>
                <span
                  class="text-black ml-auto">({{numLibros}})</span></a></li>

              <li class="mb-1" (click)="filterBotellas()"><a href="javascript:void(0);"
                                                             class="d-flex"><span>Botellas</span> <span
                class="text-black ml-auto">({{numBotellas}})</span></a></li>

              <li class="mb-1" (click)="filterCamisetas()"><a href="javascript:void(0);"
                                                              class="d-flex"><span>Camisetas</span> <span
                class="text-black ml-auto">({{numCamisetas}})</span></a></li>

              <li class="mb-1" (click)="filterJuguetes()"><a href="javascript:void(0);"
                                                             class="d-flex"><span>Juguetes</span> <span
                class="text-black ml-auto">({{numJugetes}})</span></a></li>

              <li class="mb-1" (click)="filterPendrives()"><a href="javascript:void(0);"
                                                              class="d-flex"><span>Pendrives</span> <span
                class="text-black ml-auto">({{numPendrives}})</span></a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


