<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--
<script>
  $(function() {
    var selectedClass = "";
    $(".filter").click(function(){
      selectedClass = $(this).attr("data-rel");
      $("#gallery").fadeTo(100, 0.1);
      $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
      setTimeout(function() {
        $("."+selectedClass).fadeIn().addClass('animation');
        $("#gallery").fadeTo(300, 1);
      }, 300);
    });
  });
</script>

&lt;!&ndash; Grid row &ndash;&gt;
<div class="row">

  &lt;!&ndash; Grid column &ndash;&gt;
  <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>

  </div>
  &lt;!&ndash; Grid column &ndash;&gt;

</div>
&lt;!&ndash; Grid row &ndash;&gt;

&lt;!&ndash; Grid row &ndash;&gt;
<div class="gallery" id="gallery">

  &lt;!&ndash; Grid column &ndash;&gt;
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
  </div>
  &lt;!&ndash; Grid column &ndash;&gt;

  &lt;!&ndash; Grid column &ndash;&gt;
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
  </div>
  &lt;!&ndash; Grid column &ndash;&gt;

  &lt;!&ndash; Grid column &ndash;&gt;
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
  </div>
  &lt;!&ndash; Grid column &ndash;&gt;

  &lt;!&ndash; Grid column &ndash;&gt;
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
  </div>
  &lt;!&ndash; Grid column &ndash;&gt;

  &lt;!&ndash; Grid column &ndash;&gt;
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
  </div>
  &lt;!&ndash; Grid column &ndash;&gt;

  &lt;!&ndash; Grid column &ndash;&gt;
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
  </div>
  &lt;!&ndash; Grid column &ndash;&gt;
</div>
&lt;!&ndash; Grid row &ndash;&gt;


-->
<!--<head>
  <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>-->


<div class="site-wrap">
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-9 order-2">
          <div class="col-md-12 mb-5">
            <div class="float-md-left mb-4"></div>
          </div>
          <div class="row mb-5">
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" *ngFor="let premio of premios">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="./assets/Storage/Premios/{{premio.id}}.jpg"
                                                  alt="Image placeholder"
                                                  class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">{{premio.nombre}}</a></h3>
                  <p class="mb-0">{{premio.descripcion}}</p>
                  <p class="text-primary font-weight-bold">{{premio.puntos}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0 ">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorias</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a href="#" class="d-flex"><span>Libros</span> <span
                class="text-black ml-auto">(2,220)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Botellas</span> <span
                class="text-black ml-auto">(2,550)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Tassas</span> <span
                class="text-black ml-auto">(2,124)</span></a></li>
              <li class="mb-1"><a href="#" class="d-flex"><span>Juegetes</span> <span
                class="text-black ml-auto">(2,220)</span></a></li>
            </ul>
            <p>
              <label for="amount">Price range:</label>
              <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="slider-range"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>-->
