<div class="container">
  <h2>Recuparar Contraseña</h2>
  <div class="p-3 p-lg-5 border">
    <form class="form" #loginForm="ngForm" (ngSubmit)="sendMail()" id="sendMail" novalidate *ngIf="isSendMail">
      <div class="form-row">
        <div class="form-group col-md-12 text-center">
          <label for="username">Username</label>
          <div class="form-group input-group">
            <input type="text" class="form-control col-md-6 mx-auto" name="username" id="username"
                   placeholder="Introduce tu Username"
                   [(ngModel)]="user.username" #username="ngModel"
                   [ngClass]="{'is-invalid':loginForm.submitted && username.invalid}" required>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-success mx-auto" form="sendMail">Enviar</button>
      </div>
    </form>


    <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()" id="change" novalidate *ngIf="!isSendMail">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Contraseña</label>
          <div class="form-group input-group">
            <input type="text" class="form-control" name="password" id="password" placeholder="Introduce tu Contraseña"
                   [(ngModel)]="user.password" #password="ngModel"
                   [ngClass]="{'is-invalid':loginForm.submitted && password.invalid}" required>
            <div class="invalid-feedback">
              Invalid
            </div>
          </div>
        </div>
      </div>
      <button  type="submit" class="btn btn-primary" form="change">Cambiar Contraseña</button>
    </form>
  </div>
</div>
