<div class="container">
	<h2>Recuparar Contraseña</h2>
	<form class="form" #loginForm="ngForm" (ngSubmit)="sendMail()" id="sendMail" novalidate *ngIf="isSendMail">
		<div class="form-row">
	    <div class="form-group col-md-12">
	      <label for="username">Username</label>
	      <div class="form-group input-group">
		      <div class="input-group-prepend">
	          <span class="input-group-text"><i class="fas fa-users"></i></span>
	        </div>
		      <input type="text" class="form-control" name="username" id="username" placeholder="Introduce su Username" [(ngModel)]="user.username" #username="ngModel" [ngClass]="{'is-invalid':loginForm.submitted && username.invalid}" required>
		      <div class="invalid-feedback">
		      	Invalid
		      </div>
		    </div>
	    </div>
	  </div>
	  <button id="done" type="submit" class="btn btn-primary" form="sendMail">Enviar</button>
	</form>
	<form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()" id="change" novalidate *ngIf="!isSendMail">
		<div class="form-row">
	    <div class="form-group col-md-12">
	      <label for="password">Contraseña</label>
	      <div class="form-group input-group">
		      <div class="input-group-prepend">
	          <span class="input-group-text"><i class="fas fa-users"></i></span>
	        </div>
		      <input type="text" class="form-control" name="password" id="password" placeholder="Introduce su Contraseña" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{'is-invalid':loginForm.submitted && password.invalid}" required>
		      <div class="invalid-feedback">
		      	Invalid
		      </div>
		    </div>
	    </div>
	  </div>
	  <button id="done" type="submit" class="btn btn-primary" form="change">Cambiar Contraseña</button>
	</form>
</div>