<div class="container-fluid ">
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="input-group col-sm-4">
        <input id="input" type="text" class="form-control" placeholder="Buscar..." aria-label="Default"
               aria-describedby="basic-addon2" style="border: 1px solid black;border-radius: 50px">
        <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><img src="../../assets/Storage/SVG_Files/SearchRecycle.svg"
                                                              width="25px"></span>
        </div>
      </div>
    <div class="col-sm-4"></div>
    </div>
    <div class="row ">
      <div class="col-xl-12 background">
        <agm-map [styles]="mapStyle" [latitude]="41.395168" [longitude]="2.175246" [zoom]="13"
                 (mapClick)="mapClick($event)" [scrollwheel]="false">
          <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
            <agm-marker (markerClick)=markerClick(iw)
                        *ngFor="let punt of punts" [latitude]="punt['lat']"
                        [longitude]="punt['long']" [label]="labelOptions"
                        [iconUrl]="icon"
                        (markerClick)="onClickMarker(lugar)">
              <agm-info-window [maxWidth]="500" #iw>
                <ul>
                  <li><i class="fas fa-recycle"></i>{{punt['barrio']}}</li>
                  <li><i class="fas fa-map-marker-alt"></i>{{punt['calle']}}</li>
                </ul>
              </agm-info-window>
            </agm-marker>
          </agm-marker-cluster>
        </agm-map>
      </div>

      <div class="row">

        <div class="col-xl-5 offset-2 mapaImg">
          <img src='./assets/Storage/SVG_Files/green-earth-1.svg' height="500px">
        </div>
      </div>
      <div class="col-xl-4 offset-2 infoImg">
        <h2 class="text-center infoHeader">Mas de 15 estaciones ...
        </h2>
        <p class="text-center infoText">
          Phasellus ultrices neque vitae neque efficitur hendrerit. Aenean dictum sem sit amet elit venenatis dignissim.
          Nullam vitae convallis mi, at rutru mauris. Ut consequat semper aliquam. Vestibulum ante ipsum primis in
          faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sagittis interdum facilisis. Nunc quis malesuada
          est, ac pulvinar ligula. Maecenas condimentum eleifend sagittis. Curabitur commodo efficitur nisl et porta.
        </p>

      </div>
    </div>
  </div>



