@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext');

.background{
  background-image: linear-gradient(lightgrey,white,lightgrey);
  padding: 50px;


}
agm-map {
  width: 100%;
  height: 500px;
}
li{
  margin: 5px;
  font-size: 18px;
  font-family: Karla sans-serif;
  font-weight: bold;
  list-style: none;
}
.fas{
  margin-right: 5px;
  color: #009245;
}


.search{
  z-index: 2;
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: max-content;
  text-align: center;
}

ul li{
  list-style: none;
  text-transform: uppercase;
  text-decoration-style: dotted;
}
#input{
  border: 1px solid white;
  border-bottom: none;
  height: 6vh;
  border-radius: 10px 10px 3px 3px;
  width: 40vh;
  background-color: black;
  color: white;
  padding-left: 10px;
  font-size: 18px;
}
#input:focus{
  outline: none;
}

label{
  font-family: 'Codystar', cursive !important;
}
.ui-menu-item{
  font-size: 2vh;
  color: floralwhite!important;
}
.ui-widget-content{
  border: 1px solid white;
  border-top: none;
  width: 40vh;
  background-color: black;
  border-radius: 0 0 10px 10px;
  padding-left: 8px;
  font-size: 18px;
  padding-bottom: 8px;
}
