<div class="container">
	<div class="row buttonBar">
		<div class="col-lg-10">
			<button class="btn btn-outline-success" (click)="locked()">Bloqueado</button>
			<button class="btn btn-outline-success m-1" (click)="empleado()">Empleado</button>
			<button class="btn btn-outline-success" (click)="administrador()">Administrador</button>
			<button class="btn btn-outline-success m-1" (click)="valid()">Valido</button>
			<button class="btn btn-outline-success" (click)="all()">All</button>
		</div>
		<div class="col-lg-2" align="right">
			<button class="btn btn-outline-success" (click)="newEmployee()">Nuevo Empleado</button>
		</div>
	</div>
	<table datatable class="row-border hover" [dtTrigger]="dtTrigger">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Username</th>
	      <th>Nombre</th>
	      <th>Apellido</th>
	      <th>Estado</th>
	    </tr>
	  </thead>
	  <tbody>
			<tr *ngFor = "let employee of employeeList"  (click)="openDialog(employee)">
				<td>{{employee.Id}}</td>
				<td>{{employee.Username}}</td>
				<td>{{employee.Nombre}}</td>
				<td>{{employee.Apellido}}</td>
				<td id="estado">{{employee.Estado==0?'Bloqueado':employee.Estado==1?'Empleado':employee.Estado==2?'Administrador':'Estado Desconocido'}}</td>
			</tr>
	  </tbody>
	</table>
</div>
