<app-navbar></app-navbar>
<div class="container">
  <div id="eventos" class="row view-group" *ngFor="let event of eventos">
    <div class="card mb-3 mx-auto" style="max-width: 800px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="group list-group-image img-fluid"
               src="./assets/Storage/Eventos/{{event._id}}.jpg" alt=""/>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">{{event.titulo}}</h4>
            <p class="card-text">Fecha: {{event.fecha}}</p>
            <p class="card-text">
              <small >Hora: {{event.horaInicio}} - {{event.horaFinal}}</small>
            </p>
            <p class="card-text text-muted" style="width: 800px">{{event.descripcion}}</p>
          </div>
        </div>
        <div class="col-md-2 text-center my-auto">
          <a class="btn btn-outline-success btn-lg" (click)="unirseEvento(event)"><img
            class="mx-auto d-block"
            src="../../assets/Storage/SVG_Files/recycled-bagEventos1.svg"
            style="height: 4vh;"
            alt="Image Events">
            <span style="font-size:smaller;">Participar</span></a>
          <p class="card-text">
            <small class="text-muted">Puntos: {{event.puntos}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
