<p class="text-danger" *ngIf="!events" align="center">No Participaste Ninguno Evento</p>
<div class="container">
	<div class="table-responsive">
		<table datatable class=" table row-border hover" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"  align="center">
		  <thead>
		    <tr>
		      <th>ID</th>
		      <th>Titul</th>
		      <th>Descripcion</th>
		      <th>Lugar</th>
		      <th>Fecha</th>
		      <th>Hora Inicio</th>
		      <th>Hora Final</th>
		      <th>Puntos</th>
		    </tr>
		  </thead>
		  <tbody>
				<tr *ngFor = "let event of events" (click)="openDialog(event)">
					<td>{{event.Id}}</td>
					<td class="line-limit-length">{{event.Titulo}}</td>
					<td class="line-limit-length">{{event.Descripcion}}</td>
					<td class="line-limit-length">{{event.Lugar}}</td>
					<td>{{event.Fecha}}</td>
					<td>{{event.HoraInicio}}</td>
					<td>{{event.HoraFinal}}</td>
					<td>{{event.Puntos}}</td>
				</tr>
		  </tbody>
		</table>
	</div>

</div>