<h2 mat-dialog-title class="text-center">Login</h2>
<mat-dialog-content>
  <div class="container">
    <form class="form" #loginForm="ngForm" id="login" (ngSubmit)="onSubmit()">
      <div class=" form-row">
        <div class="form-group col-md-12">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Introduce tu Username"
                 [(ngModel)]="username">
        </div>

        <div class="form-group col-md-12">
          <label for="password">Password</label>
          <div class="form-group input-group">
            <input type="password" class="form-control" name="password" id="password"
                   placeholder="Introduce tu Password"
                   [(ngModel)]="password">
          </div>
        </div>
      </div>

    </form>
    <button class="mx-auto recuperarContrasena" mat-button mat-dialog-close routerLink="./recoverPassword">
      <span class="recuperar">Recuperar Contraseña</span></button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="container text-center mb-4">
    <button type="submit" class="btn btn-outline-success mx-auto" [disabled]="!loginForm.form.valid"
            form="login">
      Login
    </button>
  </div>
  <button class="registerLogin mx-auto" mat-button mat-dialog-close routerLink="./Register">No tienes cuenta, <span
    class="registrate">Registrate ahora</span></button>
</mat-dialog-actions>

