<div class="col-lg-9" align="left">
  <h2 mat-dialog-title> Reclamacion:{{claim._id}} ({{claim.tema}})</h2>
</div>
<mat-dialog-content>
  <div class="col-lg-12">
    <p><b>Cliente: </b>{{claim.nombre}} {{claim.apellido}}</p>
    <p><b>Email: </b>{{claim.email}}</p>
    <p><b>Tema: </b>{{claim.tema}}</p>
    <p><b>Descripcion: </b></p>
    <textarea cols="30" rows="10" disabled>{{claim.consulta}}</textarea>
    <p><b>Fecha: </b>{{claim._kmd['lmt']}}</p>
    <p><b>Estado: </b>{{(claim.estado==0)?'Pendiente':(claim.estado==1)?'En Tramite':'Finalizado'}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div class="container">
    <button class="btn btn-secondary m-1" (click)="updateEstado(0)" *ngIf="claim['estado']==1">En tramite</button>
    <button class="btn btn-primary m-1" (click)="updateEstado(1)" *ngIf="claim['estado']==0 || claim['estado']==2">
      Procesando
    </button>
    <button class="btn btn-success m-1" (click)="updateEstado(2)" *ngIf="claim['estado']==1">Solucionado</button>
  </div>
</mat-dialog-actions>
<mat-dialog-actions align="end">
  <div class="container">
    <button class="btn btn-danger" mat-button mat-dialog-close>Cerrar</button>
  </div>
</mat-dialog-actions>
