<div class="container">
	<!--<button (click)="empleado()">Empleado</button>
	<button (click)="administrador()">Administrador</button>
	<button (click)="valid()">Valido</button>
	<button (click)="all()">All</button>-->
	<table datatable class="row-border hover" *ngIf="claims">
	  <thead>
	    <tr>
	      <th>Id</th>
	      <th>Nombre</th>
	      <th>Apellido</th>
        <th>Email</th>
	      <th>Tema</th>
	      <th>Consulta</th>
	      <th>Estado</th>
	    </tr>
	  </thead>
	  <tbody>
			<tr *ngFor = "let claim of claims" (click)="openDialog(claim)">
				<td>{{claim['_id']}}</td>
				<td class="line-limit-length">{{claim.nombre}}</td>
        <td class="line-limit-length">{{claim.apellido}}</td>
				<td>{{claim.email}}</td>
				<td>{{claim.tema}}</td>
				<td class="line-limit-length">{{claim.consulta}}</td>
				<td>{{(claim.estado==0)?'Pendiente':(claim.Estado==1)?'En Tramite':'Finalizado'}}</td>
			</tr>
	  </tbody>
	</table>
	<div align="center" *ngIf="!claims">
		<p class="text-primary">No hay ninguna reclamacion</p>
	</div>
</div>
