<app-navbar></app-navbar>
<div class="container">
  <h2 class="text-center mt-2 mb-2">Ajustes de la cuenta</h2>
  <button type="button" class="btn alert-dark m-2" (click)="cambiarVistaDatosP()">Datos Personales</button>
  <button type="button" class="btn alert-dark m-2" (click)="cambiarVistaContrasena()">Contraseña</button>
  <!-- CLIENTE DATOS PERSONALES -->


  <form class="form mb-5" #loginForm="ngForm" (ngSubmit)="changeCliente()" id="client" novalidate *ngIf="isClient">
    <div class="p-3 p-lg-5 border mb-5">
      <!--FORM CONTRASENA-->

      <div ngModelGroup="passwords" *ngIf="vistaForm=='contrasena'">
        <div class="form-group">
          <div class="text-center">
            <label for="password"></label>
            <input type="password" class="form-control col-lg-6 mx-auto" name="password" placeholder="Contraseña"
                   ngModel [(ngModel)]="user.Password" required>
            <div class="alert alert-danger col-lg-6 mx-auto"
                 *ngIf="loginForm?.controls.passwords?.controls.password?.errors?.required&&loginForm?.controls.passwords?.controls.password?.touched">
              Este campo es obligatorio
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <label for="confirmPassword"></label>
            <input type="password" class="form-control col-lg-6 mx-auto" name="confirmPassword"
                   placeholder="Verificar Contraseña"
                   ngModel required>
            <div class="alert alert-danger col-lg-6 mx-auto"
                 *ngIf="loginForm?.controls?.passwords.controls?.confirmPassword.errors?.required&&loginForm?.controls?.passwords.controls?.confirmPassword?.touched">
              Este campo es obligatorio
            </div>
            <div class="alert alert-danger col-lg-6 text-center mx-auto"
                 *ngIf="loginForm.controls?.passwords.controls?.password.value != loginForm.controls?.passwords.controls?.confirmPassword.value">
              Contraseñas no son iguales
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="vistaForm=='datoP'">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$" name="name"
                   [(ngModel)]="user.Nombre" id="name"
                   placeholder="Introduce su Nombre" ngModel>
            <div class="alert alert-danger" *ngIf="loginForm?.controls.name?.errors?.pattern">
              Error en el nombre.
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$"
                   name="lastName" [(ngModel)]="user.Apellido" id="lastName"
                   placeholder="Introduce su Apellido" ngModel>
            <div class="alert alert-danger" *ngIf="loginForm?.controls.lastName?.errors?.pattern">
              Error en el Apellido.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="location">Localidad</label>
            <select name="location" [(ngModel)]="user.Localidad" id="location" class="form-control">
              <option *ngFor="let localidad of localidades">{{localidad}}</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label for="address">Direccion</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="user.Direccion" id="address"
                   placeholder="Introduce su Direccion">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"
                   [(ngModel)]="user.Email" id="email"
                   placeholder="Introduce su E-Mail" ngModel>
            <div class="alert alert-danger" *ngIf="loginForm?.controls.email?.errors?.pattern">
              El Email tiene que ser en formato example@example.com
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="phone">Telefono</label>
            <input type="tel" class="form-control" name="phone" pattern="^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$"
                   [(ngModel)]="user.Telefono" id="phone"
                   ngModel placeholder="Introduce su Telefono">
            <div class="alert alert-danger" *ngIf="loginForm?.controls.phone?.errors?.pattern">
              Error en el telephono
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="identifier">DNI/NIE</label>
            <input type="tel" class="form-control" pattern="^[0-9]{8,8}[A-Za-z]$" name="identifier"
                   [(ngModel)]="user.Identificador"
                   id="identifier"
                   placeholder="Introduce su DNI/NIE">
            <div class="alert alert-danger" *ngIf="loginForm?.controls.identifier?.errors?.pattern">
              Error en el DNI
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>Elige tipo de identificador</label><br/>
            <div class="radio">
              <label><input type="radio" name="typeIdentifier" [(ngModel)]="user.TipoIdentificador" value="1"
                            checked>DNI</label>
              <label><input type="radio" name="typeIdentifier" [(ngModel)]="user.TipoIdentificador"
                            value="2">NIE</label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="birthdate">Fecha de Nacimiento</label>
            <input type="date" class="form-control" name="birthdate" [(ngModel)]="user.FechaNacimiento"
                   id="birthdate">
          </div>
          <div class="form-group col-md-4">
            <label for="gender">Genero</label>
            <select name="gender" [(ngModel)]="user.Genero" id="gender" class="form-control">
              <option>No definido</option>
              <option>Hombre</option>
              <option>Mujer</option>
            </select>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="loginForm?.invalid" class="btn btn-primary mx-auto" form="client">
          Enviar
        </button>
      </div>
    </div>
  </form>


  <!-- EMPLEADO -->
  <form class="form text-center" #loginForm="ngForm" (ngSubmit)="changeEmployee()" id="employee" novalidate
        *ngIf="!isClient">
    <div class="p-3 p-lg-5 border mb-3 ">
      <div ngModelGroup="passwords" *ngIf="vistaForm=='contrasena'">
        <div class="form-group">
          <div class="text-center">
            <label for="password"></label>
            <input type="password" class="form-control col-lg-6 mx-auto" name="password" placeholder="Contraseña"
                   ngModel [(ngModel)]="employee.Password" required>
            <div class="alert alert-danger col-lg-6 mx-auto"
                 *ngIf="loginForm?.controls.passwords?.controls.password?.errors?.required&&loginForm?.controls.passwords?.controls.password?.touched">
              Este campo es obligatorio
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <label for="confirmPassword"></label>
            <input type="password" class="form-control col-lg-6 mx-auto" name="confirmPassword"
                   placeholder="Verificar Contraseña"
                   ngModel required>
            <div class="alert alert-danger col-lg-6 mx-auto"
                 *ngIf="loginForm?.controls?.passwords.controls?.confirmPassword.errors?.required&&loginForm?.controls?.passwords.controls?.confirmPassword?.touched">
              Este campo es obligatorio
            </div>
            <div class="alert alert-danger col-lg-6 text-center mx-auto"
                 *ngIf="loginForm.controls?.passwords.controls?.password.value != loginForm.controls?.passwords.controls?.confirmPassword.value">
              Contraseñas no son iguales
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="vistaForm=='datoP'">
        <div class="form-row">
          <div class="form-group col-md-6 mx-auto">
            <label for="name"></label>
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$"
                   name="name"
                   [(ngModel)]="employee.Name" id="name"
                   placeholder="Introduce nuevo Nombre" ngModel>
            <div class="alert alert-danger" *ngIf="loginForm?.controls.name?.errors?.pattern">
              Error en el nombre.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mx-auto">
            <label for="lastName"></label>
            <input type="text" class="form-control mx-auto" pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$"
                   name="lastName" [(ngModel)]="employee.LastName" id="lastName"
                   placeholder="Introduce nuevo Apellido" ngModel>
            <div class="alert alert-danger" *ngIf="loginForm?.controls.lastName?.errors?.pattern">
              Error en el Apellido.
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="loginForm?.invalid" class="btn btn-primary mx-auto" form="employee">
          Cambiar Contraseña
        </button>
      </div>
    </div>
  </form>
</div>
