<div class="row" *ngIf="aux==1 || aux==2">
  <div class="col-lg-9" align="left">
    <h2 mat-dialog-title>Empleado: {{employee.Id}} ({{employee.Nombre}} {{employee.Apellido}})</h2>
  </div>
  <div class="col-lg-3" align="right">
    <button *ngIf="aux==1" (click)="delete(employee.Id)" mat-button mat-dialog-close>Eliminar</button>
    <button *ngIf="aux==1" (click)="changeEstado(2)">Modificar</button>
  </div>
</div>
<mat-dialog-content *ngIf="aux=='0'">
  <div class="row">
    <div class="col-md-6" align="center">
      <div class="col-md-6" align="center">
        <img src="https://static.thenounproject.com/png/542237-200.png" alt="img">
      </div>
    </div>
    <div class="col-md-6">
      <form class="form" #form="ngForm" (ngSubmit)="createEmployee()" id="createEmployee">
        <b>Crear nuevo empleado</b>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username"
                   [(ngModel)]="employee.Username" id="username" placeholder="Introduce Username" required>
            <div class="alert alert-danger"
                 *ngIf="form.controls.username?.touched && form.controls.username?.errors?.required">
              El campo Username es obligatorio
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password"
                   [(ngModel)]="employee.Password" placeholder="Introduce Contraseña" required>
            <div class="alert alert-danger"
                 *ngIf="form.controls.password?.touched && form.controls.password?.errors?.required">
              El campo Password es obligatorio
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name"
                   pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$"
                   [(ngModel)]="employee.Nombre" placeholder="Introduce Nombre" required>
            <div class="alert alert-danger"
                 *ngIf="form?.controls.name?.touched && form?.controls.name?.errors?.required">
              Campo Nombre es obligatorio
            </div>
            <div class="alert alert-danger" *ngIf="form?.controls.name?.errors?.pattern">
              Error en el nombre.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$"
                   name="lastName" [(ngModel)]="employee.Apellido"
                   placeholder="Introduce Apellido" required>
            <div class="alert alert-danger"
                 *ngIf="form?.controls.lastName?.touched && form?.controls.lastName?.errors?.required">
              Campo Apellido es obligatorio
            </div>
            <div class="alert alert-danger" *ngIf="form?.controls.lastName?.errors?.pattern">
              Error en el Apellido.
            </div>
          </div>
        </div>
        <div class="justify-content-lg-end">
          <button type="submit" class="btn btn-success" [disabled]="form?.invalid" *ngIf="aux==0">Crear Empleado
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="aux=='1'">
  <div class="row">
    <div class="col-lg-5">
      <img src="https://img.pngio.com/horizontal-png-horizontal-road-road-horizon-png-1024_683.jpg"
           alt="imagen de evento" width="100%">
    </div>
    <div class="col-lg-7">
      <p><b>Id: </b>{{employee.Id}}</p>
      <p><b>Nombre: </b>{{employee.Nombre}}</p>
      <p><b>Apellido: </b>{{employee.Apellido}}</p>
      <p><b>Username: </b>{{employee.Username}}</p>
      <p><b>Estado: </b>{{employee.Estado==0?'Bloqueado':employee.Estado==1?'Empleado':employee.Estado==2?'Administrador':'Estado
        Desconocido'}}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="aux=='2'">
  <div class="row">
    <div class="col-md-6" align="center">
      <img src="https://static.thenounproject.com/png/542237-200.png" alt="img">
    </div>
    <div class="col-md-6">
      <form class="form" #modifyEmployee="ngForm" (ngSubmit)="onSubmit()" id="modifyEmployee">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Nombre</label>
            <input type="text" pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$" class="form-control" name="name"
                   [(ngModel)]="employee.Nombre" id="name"
                   placeholder="Introduce tu Nombre">
            <div class="alert alert-danger" *ngIf="modifyEmployee?.controls.name?.errors?.pattern">
              Error en el nombre.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9]*[a-zA-Z0-9\-' ]*[a-zA-Z0-9 ]*$"
                   name="lastName" [(ngModel)]="employee.Apellido" id="lastName"
                   placeholder="Introduce tu Apellido">
            <div class="alert alert-danger" *ngIf="form?.controls.lastName?.errors?.pattern">
              Error en el Apellido.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="password">Contraseña</label>
            <input type="text" class="form-control" name="password" [(ngModel)]="employee.Password" id="password"
                   placeholder="Introduce tu Contraseña">
          </div>
        </div>
      </form>
    </div>
    <div class="justify-content-center">
      <button *ngIf="employee['Estado']==1" (click)="updateEstado(0)">Bloquear</button>
      <button *ngIf="employee['Estado']==0 || employee['Estado']==2" (click)="updateEstado(1)">Emplado</button>
      <button *ngIf="employee['Estado']==1" (click)="updateEstado(2)">Administrador</button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="container">
    <button type="submit" form="modifyEmployee" class="btn btn-primary" [disabled]="modifyEmployee.invalid || loading"
            *ngIf="aux=='2'">Modificar
    </button>
    <button class="btn btn-primary" (click)="changeEstado(1)" *ngIf="aux=='2'">Volver</button>
    <button *ngIf="aux==1" mat-button mat-dialog-close>Cerrar</button>
  </div>
</mat-dialog-actions>
