<div class="col-lg-9" align="left">
	<h2 mat-dialog-title>Entrega: {{submit.Id}}</h2>
</div>
<mat-dialog-content>
	<div class="col-lg-12">
		<p><b>Plastico: </b>{{submit.Plastico}}g</p>
		<p><b>Carton: </b>{{submit.Carton}}g</p>
		<p><b>Metal: </b>{{submit.Metal}}g</p>
		<p><b>Aceite: </b>{{submit.Aceite}}g</p>
		<p><b>Cristal: </b>{{submit.Cristal}}g</p>
		<p><b>Pila: </b>{{submit.Pila}}g</p>
		<p><b>Puntos: </b>{{submit.Puntos}}g</p>
		<p><b>Fecha Y Hora De Entrega: </b>{{submit.Fecha}} {{submit.Hora}}</p>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cerrar</button> 
</mat-dialog-actions>