*{
	word-wrap:break-word;
}
input{
	width: 100%;
}
tbody,tfoot,thead{
	text-align: center;
}
/*.conte{
	position: relative;
}
.vertical{
	margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/