<div class="row">
	<div class="col-lg-9" align="left">
		<h2 mat-dialog-title [ngClass]="event['Estado']==1?'text-warning':event['Estado']==2?'text-success':event['Estado']==3?'text-danger':''">Evento:{{event.Id}} ({{event.Titulo}})</h2>
	</div>
	<div class="col-lg-3" align="right">
		<button class="btn btn-primary m-1" *ngIf="aux=='1'" (click)="delete(event.Id)" mat-button mat-dialog-close>Eliminar</button>
		<button class="btn btn-primary m-1" *ngIf="aux=='1'" (click)="changeEstado(3)">Modificar</button>
	</div>
</div>
<mat-dialog-content *ngIf="aux=='1' || aux==0 || aux==-1">
	<div class="row">
		<div class="col-lg-5">
			<div id="carouselExampleIndicators" style="height: 100%" class="carousel slide" data-ride="carousel">
				<div class="child">
				  <ol class="carousel-indicators">
				  	<!--for each -> data-slide-to -->
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  </ol>
          <img class="group list-group-image img-fluid"
               src="./assets/Storage/Eventos/{{event.Id}}.jpg" alt=""
               style="border-top-left-radius:10px;border-bottom-left-radius:10px"/>
				</div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
				<!--<img src="https://img.pngio.com/horizontal-png-horizontal-road-road-horizon-png-1024_683.jpg" alt="imagen de evento" width="100%">-->
		</div>
		<div class="col-lg-7">
			<p><b>Id: </b>{{event.Id}}</p>
			<p><b>Titulo: </b>{{event.Titulo}}</p>
			<p><b>Descripcion: </b>{{event.Descripcion}}</p>
			<p><b>Lugar: </b>{{event.Lugar}}</p>
			<p><b>Fecha: </b>{{event.Fecha}}</p>
			<p><b>Hora Inicio: </b>{{event.HoraInicio}}</p>
			<p><b>Hora Final: </b>{{event.HoraFinal}}</p>
			<p><b>Puntos: </b>{{event.Puntos}}</p>
			<p><b>Estado: </b>{{event.Estado==0?'Cancelado':event.Estado==1?'Activo':event.Estado==2?'Finalizado':'Estado Desconocido'}}</p>
			<p *ngIf="aux==1"><b>Creador: </b>{{employee.Nombre}} {{employee.Apellido}}</p>
			<p *ngIf="aux==0"><b>Descripcion sobre participante: </b>{{event.DescripcionP}}</p>
			<p *ngIf="aux==0"><b>Estado sobre Participante: </b>{{event.EstadoP==0?'No Presentado':event.EstadoP==1?'Presentado':event.EstadoP==2?'Completo':'Estado Desconocido'}}</p>

		</div>
	</div>
</mat-dialog-content>
<mat-dialog-content *ngIf="aux=='2'">
	<div class="table-responsive">
		<table datatable class="table row-border hover " [dtTrigger]="dtTrigger1" align="center">
		  <thead>
		    <tr>
		      <th>Identificador</th>
		      <th>Username</th>
		      <th>Nombre</th>
		      <th>Apellido</th>
		      <th>Telefono</th>
		      <th>Descripcion</th>
		      <th>Estado</th>
		    </tr>
		  </thead>
		  <tbody>
				<tr *ngFor = "let participant of participants" (click)="openDialog(participant.IdCliente, participant.IdEvento)" [ngClass]="(participant.Estado==0)?'bg-danger':(participant.Estado==1)?'bg-warning':'bg-success'">
					<td>{{participant.Identificador}}</td>
					<td>{{participant.Username}}</td>
					<td>{{participant.Nombre}}</td>
					<td>{{participant.Apellido}}</td>
					<td>{{participant.Telefono}}</td>
					<td class="line-limit-length">{{participant.Descripcion}}</td>
					<td>{{participant.Estado==0?'No Presentado':participant.Estado==1?'Presentado':'Completo'}}</td>
				</tr>
		  </tbody>
		  <!--<tfoot>
		    <tr>
		      <th><input type="text" placeholder="ID"/></th>
		      <th><input type="text" placeholder="Identificador"/></th>
		      <th><input type="text" placeholder="Username"/></th>
		      <th><input type="text" placeholder="Nombre"/></th>
		      <th><input type="text" placeholder="Apellido"/></th>
		      <th><input type="text" placeholder="Telefono"/></th>
		      <th><input type="text" placeholder="Descripcion"/></th>
		      <th><input type="text" placeholder="Estado"/></th>
		    </tr>
		  </tfoot>-->
		</table>
	</div>
</mat-dialog-content>
<mat-dialog-content *ngIf="aux=='3'">
	<div class="row">
		<div class="col-md-6" align="center">
      <img class="group list-group-image img-fluid"
           src="./assets/Storage/Eventos/{{event.Id}}.jpg" alt=""
           style="border-top-left-radius:10px;border-bottom-left-radius:10px"/>
		</div>
		<div class="col-md-6">
			<b id="error" *ngIf='!createStatud'>{{msgError}}</b>
			<form class="form" #modifyEvent="ngForm" (ngSubmit)="onSubmit()" id="modifyEvent">
				<b>Crear nuevo evento</b>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="title">Titulo</label>
			      <input type="text" class="form-control" name="title" [(ngModel)]="event.Titulo" id="title" placeholder="Introduce Titulo">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="location">Lugar</label>
			      <input type="text" class="form-control" name="location" [(ngModel)]="event.Lugar" id="location" placeholder="Introduce Lugar">
			    </div>
			  </div>
			  <div class="form-row">
				  <div class="form-group col-md-12">
				    <label for="Description">Descripcion</label>
				    <textarea class="md-textarea form-control" rows="5" name="Description" [(ngModel)]="event.Descripcion" id="Description" placeholder="Introduce Descripcion"></textarea>
				  </div>
				</div>
			  <div class="form-row">
			    <div class="form-group col-md-4">
			      <label for="points">Puntos</label>
			      <input type="number" minlength="0" class="form-control" name="points" [(ngModel)]="event.Puntos" id="points" placeholder="Introduce Puntos">
			    </div>
			    <div class="form-group col-md-8">
			      <label for="date">Fecha</label>
			      <input type="date" class="form-control" name="date" [(ngModel)]="event.Fecha" id="date" placeholder="Introduce su Fecha">
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="startTime">Hora Inicial</label>
			      <input type="time" class="form-control" name="startTime" [(ngModel)]="event.HoraInicio" id="startTime" placeholder="Introduce Hora Inicial">
			    </div>
			  	<div class="form-group col-md-6">
			      <label for="endTime">Hora Final</label>
			      <input type="time" class="form-control" name="endTime" [(ngModel)]="event.HoraFinal" id="endTime" placeholder="Introduce Hora Final">
			    </div>
			  </div>
			  <div align="center">

			  </div>
			</form>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<div class="container">
		<button type="submit" form="modifyEvent" class="btn btn-primary mr-2" [disabled]="modifyEvent.invalid || loading" *ngIf="aux=='3'">Modificar</button>
	  <button class="btn btn-primary mr-2" (click)="changeEstado(2)" *ngIf="aux=='1'">Participantes</button>
	  <button class="btn btn-primary mr-2" (click)="changeEstado(1)" *ngIf="aux=='2'">Evento</button>
	  <button class="btn btn-primary mr-2" (click)="changeEstado(1)" *ngIf="aux=='3'">Volver</button>
	  <button class="btn btn-danger ml-2"  mat-dialog-close>Cerrar</button>
	</div>
</mat-dialog-actions>
