<div class="container" align="center">
  <input type="text" *ngIf="type==2" [(ngModel)]="identification">
  <input type="number" *ngIf="type==1" [(ngModel)]="id" min="1" pattern="^[0-9]+"><br/>
  <label><input type="radio" name="type" value="1" [(ngModel)]="type">Id</label>
  <label><input type="radio" name="type" value="2" [(ngModel)]="type">Identificador</label><br/>
  <button (click)="search()">Buscar</button>
  <!-- Formulario -->
  <h2>Ajuste de cuenta</h2>
  <form class="form" #loginForm="ngForm" (ngSubmit)="changeCliente()" id="client" novalidate *ngIf="client">
    <div class="p-3 p-lg-5 border">

      <div class="form-group row">
        <div class="col-md-6">
          <label for="password" class="text-black">Contrasena: <span class="text-danger">*</span></label>
          <input type="password" class="form-control" name="password" [(ngModel)]="client.Password" id="password"
                 placeholder="Introduce su Contraseña">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="client.Nombre" id="name"
                 placeholder="Introduce su Nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Apellido</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="client.Apellido" id="lastName"
                 placeholder="Introduce su Apellido">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="location">Localidad</label>
          <select name="location" [(ngModel)]="client.Localidad" id="location" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-8">
          <label for="address">Direccion</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="client.Direccion" id="address"
                 placeholder="Introduce su Direccion">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="email">E-Mail</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="client.Email" id="email"
                 placeholder="Introduce su E-Mail">
        </div>
        <div class="form-group col-md-4">
          <label for="phone">Telefono</label>
          <input type="tel" class="form-control" name="phone" [(ngModel)]="client.Telefono" id="phone"
                 placeholder="Introduce su Telefono">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="identifier">DNI/NIE</label>
          <input type="tel" class="form-control" name="identifier" [(ngModel)]="client.Identificador" id="identifier"
                 placeholder="Introduce su DNI/NIE">
        </div>
        <div class="form-group col-md-7">
          <label>Elige tipo de identificador</label><br/>
          <div class="radio">
            <label><input type="radio" name="typeIdentifier" [(ngModel)]="client.TipoIdentificador" value="1" checked>DNI</label>
            <label><input type="radio" name="typeIdentifier" [(ngModel)]="client.TipoIdentificador"
                          value="2">NIE</label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="birthdate">Fecha de Nacimiento</label>
          <input type="date" class="form-control" name="birthdate" [(ngModel)]="client.FechaNacimiento" id="birthdate">
        </div>
        <div class="form-group col-md-4">
          <label for="gender">Genero</label>
          <select name="gender" [(ngModel)]="client.Genero" id="gender" class="form-control">
            <option>No definido</option>
            <option>Hombre</option>
            <option>Mujer</option>
          </select>
        </div>
      </div>
      <button id="done" type="submit" class="btn btn-primary" form="client">Enviar</button>
    </div>
  </form>
</div>
