@import '@angular/material/prebuilt-themes/indigo-pink.css';
/*Dimitar*/
html, body { height: 100%; }
body { margin: 0; font-family: Karla, sans-serif; }
/*Ouxiang*/
#done{
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	border-radius: 50%;
	height: 65px;
	width: 65px;
}
#done:hover,#done:focus{
	transition:all 0.5s linear 0s;
	-webkit-transition:all 0.5s linear 0s;
	-moz-transition:all 0.5s linear 0s;
	-webkit-transition:all 0.5s linear 0s;
	-o-transition:all 0.5s linear 0s;
	border-radius: 10%;
	width:auto;
}

.line-limit-length {
	max-width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
