<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="image-container">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920.02 175">
      <defs>
        <style>.cls-1 {
          fill: #fff;
        }</style>
      </defs>
      <title>Untitled-2</title>
      <path class="cls-1" d="M0,118"/>
      <path class="cls-1"
            d="M1402,0H0V99c208.12,83.85,396.14,76,555,43,70.72-14.68,81.59-16.74,152-22,228.53-17.09,291.48,50.31,490,51,169.38.59,170.19-48.32,353-53,201.56-5.16,361,46,370,57,0-49.56,0-174.27,0-175"/>
    </svg>
    <h1 class="registerTitle text-center">Vestibulum ante ipsum</h1>
    <h2 class="registerSubTitle text-center">Nunc ut leo accumsan magna suscipit</h2>
    <div class="img-overlay">
      <button class="btn photo" routerLink="./Register">Registrate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 benefits">
      <p class="text-center">
        Evitado el consumo de 100 MWh de energia
      </p>
      <img class="mx-auto d-block" src="../../assets/Storage/SVG_Files/bulb.svg" style="height:15vh">
    </div>
    <div class="col-lg-3 benefits">
      <p class="text-center">
        Ahorrados 200m³ de agua
      </p>
      <img class="mx-auto d-block" src="../../assets/Storage/SVG_Files/leaf.svg" style="height:15vh">
    </div>
    <div class="col-lg-3 benefits">
      <p class="text-center">
        Ahorrados 300kg de emisiones CO2
      </p>
      <img class="mx-auto d-block" src="../../assets/Storage/SVG_Files/FactoryColor.svg" style="height:15vh">
    </div>
    <div class="col-lg-3 benefits">
      <p class="text-center">
        120 Arboles salvados
      </p>
      <img class="mx-auto d-block" src="../../assets/Storage/SVG_Files/SavedTrees.svg" style="height:15vh">
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600.12 189">
    <defs>
      <style>.cls-2 {
        fill: #19381f;
      }</style>
    </defs>
    <title>Untitled-1</title>
    <path class="cls-2"
          d="M1660.17,193.86c-55.11-5.89-100.11-9-100.11-9-624-59.55-959.95-71.26-1500,0v121c507.5-103,826,74.5,1500,0,37.42-4.13,70.66-8.18,100.11-12.14Z"
          transform="translate(-60.06 -135.71)"/>
  </svg>

  <!--PART EVENTS-->
  <div class="row">
    <!--COMO FUNCIONA-->
    <div class="col-lg-6">
      <div class="row">
        <div class="col-xl-5 m-2 mx-auto">
          <img class="mx-auto d-block" src="../../assets/Storage/SVG_Files/ComoFunciona.svg" style="height: 30vh;"
               alt="Image how it works">
        </div>
        <div class="col-lg-10 offset-1">
          <p class="events">Qué es y cómo funciona</p>
        </div>
      </div>
      <div class="row">
        <button class="btn mx-auto events-button">Ver Mas</button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-xl-5 m-2 mx-auto">
          <img class="mx-auto d-block" src="../../assets/Storage/SVG_Files/recycled-bagEventos1.svg"
               style="height: 30vh;" alt="Image Events">
        </div>
        <div class="col-lg-10 offset-1">
          <p class="events">Nuestros próximos eventos</p>
        </div>
      </div>
      <div class="row">
        <button class="btn mx-auto events-button" routerLink="Events">Ver Mas</button>
      </div>
    </div>
  </div>

  <svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1502.9 189">
    <defs>
      <style>.cls-3 {
        fill: #19381f;
      }</style>
    </defs>
    <path class="cls-3"
          d="M1730.1,269.55C1222.9,372.32,904.38,195,230.61,269.44l-3.4.38V390.2l3.4.24c623.81,59.53,959.74,71.26,1499.49.07Z"
          transform="translate(-227.21 -250.6)"/>
  </svg>
  <div class="row" style="margin-top: 80px;">
    <div class="col-lg-12 puntos mx-auto d-block">
      <span class="svg-image"><img src="../../assets/Storage/SVG_Files/Location.svg" width="100px"
                                   style="margin-right: 0.2em"></span>Nuestros puntos de colección
    </div>
  </div>

  <div class="row">
      <app-mapa style="width: 100%"></app-mapa>
  </div>
</div>


