/*
position: absolute;
width: 181px;
height: 81px;
left: 661px;
top: 29px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #934C4C;



!* Contacto *!

position: absolute;
width: 181px;
height: 81px;
left: 841px;
top: 27px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #934C4C;



!* Login *!

position: absolute;
width: 118px;
height: 20px;
left: 1139px;
top: 58px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



!* Registrar *!

position: absolute;
width: 132px;
height: 30px;
left: 1286px;
top: 55px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



!* Mapa *!

position: absolute;
width: 181px;
height: 81px;
left: 281px;
top: 24px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #934C4C;



!* Eventos *!

position: absolute;
width: 181px;
height: 82px;
left: 462px;
top: 24px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #934C4C;



!* Rectangle 3 *!

position: absolute;
width: 169px;
height: 122px;
left: 0px;
top: 0px;
*/
