<div class="row">
  <div class="col-md-6 d-flex" align="center">
    <img class="ml-5" src="./assets/Storage/SVG_Files/recycled-bagEventos1.svg" width="200px" alt="recycling bags"><br/>
  </div>
  <div class="col-md-6">
    <b id="error" *ngIf='!createStatus'>{{msgError}}</b>
    <form class="form" #newEvent="ngForm" (ngSubmit)="onSubmit()" id="newEvent">
      <b>Crea nueva evento</b>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" [(ngModel)]="titulo" id="titulo"
                 placeholder="Introduce Titulo" required>
          <div class="alert alert-danger"
               *ngIf="newEvent?.controls.title?.touched && newEvent?.controls.title?.errors?.required">
            Este campo es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="lugar">Lugar</label>
          <input type="text" class="form-control" name="lugar" [(ngModel)]="lugar" id="lugar"
                 placeholder="Introduce Lugar" required>
          <div class="alert alert-danger"
               *ngIf="newEvent?.controls.location?.touched && newEvent?.controls.location?.errors?.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="descripcion">Descripcion</label>
          <textarea class="md-textarea form-control" rows="5" name="descripcion" [(ngModel)]="descripcion"
                    id="descripcion" placeholder="Introduce Descripcion"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="puntos">Puntos</label>
          <input type="number" minlength="0" class="form-control" name="puntos" [(ngModel)]="puntos" id="puntos"
                 placeholder="Introduce Puntos">
        </div>
        <div class="form-group col-md-8">
          <label for="date">Fecha</label>
          <input type="date" class="form-control" name="date" [(ngModel)]="fecha" id="date"
                 placeholder="Introduce su Fecha">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="horaInicio">Hora Inicial</label>
          <input type="time" class="form-control" name="horaInicio" [(ngModel)]="horaInicio" id="horaInicio"
                 placeholder="Introduce Hora Inicial">
        </div>
        <div class="form-group col-md-6">
          <label for="horaFinal">Hora Final</label>
          <input type="time" class="form-control" name="horaFinal" [(ngModel)]="horaFinal" id="horaFinal"
                 placeholder="Introduce Hora Final">
        </div>
      </div>
      <div align="center">
        <button type="submit" class="btn btn-primary ml-5" [disabled]="newEvent.invalid || loading">Crear</button>
        <button class="btn btn-outline-danger float-right" mat-button mat-dialog-close>Cerrar</button>
      </div>
    </form>
  </div>
</div>
